/*==========MEDIA QUERY========*/
@media (max-width:1024px) {

  .cuadradounoindex,
  .cuadradodosindex,
  .cuadradotresindex {
    display: none;
  }
}

@media (max-width: 972px) {

  /*laboratorio*/
  .media-cuadrados {
    display: none;
  }
}

@media (max-width: 768px) {

  /*h1*/
  h1 {
    font-size: $h1*0.7 !important;
  }

  /*footer*/
  footer {
    @include flex(flex, column, center);
    align-items: center;

    div {
      p {
        font-size: 1em;
        font-weight: 700;
      }
    }
  }

  /*nosotros*/
  .contenido-nosotros {
    display: none;
  }

  /*media query para index*/
  .bioquimico {
    display: none;
  }

  .lac {
    @include flex(flex, column, space-around);
    align-items: center;
  }

  .ob {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .obrasSociales {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 30px;
  }
  .labcolegas-imagenes{
    display: none;
  }
  .parrafo-labcolegas{
    display: none; 
  }
  
  /*estudios*/
  .iframe {
    display: none;
  }

  /*contacto*/
  .frase-contacto {
    p {
      padding: 10px 5px 10px 5px;
      font-size: 2em;
      font-family: 'Meow Script', cursive;
    }
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: $h1*0.6 !important;
  }

  /*footer*/
  .sitio {
    display: none;
  }

  footer {
    div {
      p {
        font-size: 1em;
        font-weight: 700;
      }
    }
  }

  /*index*/
  .obrasSociales {
    img {
      width: 150px;
    }
  }

  .lac {
    display: none;
  }

  .media {
    display: none;
  }
}

@media (max-width: 425px) {

  /*ESTUDIOS*/
  .artuno {
    ul {
      display: none;
    }
  }

  .artdos {
    div {
      display: none;
    }
  }

  .arttres {
    div {
      display: none;
    }
  }

  .artcuatro {
    ul {
      display: none;
    }
  }

  .contenido-estudios {
    display: none;

  }

  /*Laboratorio*/
  .calidad {
    p {
      display: none;
    }

    img {
      width: 150px;
    }
  }
  /*index*/
  .labcolegas-mediaquery{
    p{
      display: none;
    }
  }
}

@media (min-width: 426px) {

  /*estudios*/
  .acordion-estudios {
    display: none;
  }
}

@media (min-width: 769px) {

  /*nosotros*/
  .acordeon-nosotros {
    display: none;
  }

  /*index*/
  .obrasSociales {

    margin: 100px 0 0 0;

  }
  .labcolegas-mediaquery{
    display: none;
  }
}